.float-left {
	float			: left;
}
.float-right {
	float 			: right;
}
.text-right	{
	text-align		: right;
}
.text-center {
	text-align 		: center;
}
.over-text {
	overflow		: hidden; 
	text-overflow	: ellipsis; 
	white-space		: nowrap;
}

.main-logo {
	width 			: 145px;
}

/* title */
.title-row {
	width			: 100%;
	display			: inline-block;
	margin-left		: 0;
	margin-top		: 10px;
	margin-bottom	: 14px;
	padding-left	: 6px;
}
.title-left {
	float			: left;
}
.title-left .main-title {
	font-size		: 24px;
	font-weight		: bold;
}
.title-left h5.sub-title {
	font-size		: 12px;
	font-weight		: bold;
	color			: #a2a2a2;
}
.title-right {
	float			: right;
	width			: 223px;
	padding-top		: 25px;
}

.panel_toolbox {
	min-width 		: 0px !important;
}

.form-control-cust {
	padding			: 6px 9px;
	height			: 32px;
}
.table td, .table th {
	padding			: 10px 10px;
	vertical-align	: middle;
	font-size		: 14px;
}
.vertical-top {
	vertical-align	: top !important;
}
.limit-form {
	width			: 65px;
	padding			: 4px 6px;
	height			: 26px;
	font-size		: 13px;
}
.total-count-area {
	font-size		: 12px;
	padding-top		: 8px;
	padding-left	: 3px;
}
.row-text {
	padding-top		: 3px;
	padding-right	: 6px;
}
.content-head {
	padding-top 	: 6px;
	padding-bottom	: 0px;
}
.content-body {
	height			: 470px;
	overflow-y		: auto;
}
.content-body-min {
	min-height		: 470px;
	overflow-y		: auto;
}

/* paging css START */
.page-link {
	color			: #73879c;
}
.page-item.active .page-link {
	background-color	: #405467 !important;
	background			: #405467 !important;
	border				: #405467 !important;
}
.page-item.disabled .page-link {
	color			: #b7b7b7;
}
/* paging css END */

/* paging sort css START */
.fa-exchange {
	transform 		: rotate(90deg);
}
.sort-image {
	cursor			: pointer;
}
.sort-image:hover {
	font-weight		: bold;
}
/* paging sort css END */

/* alert modal css START */
#alertModal .modal-dialog {
	top				: 15%;
}
#alertModal .modal-content {
	background		: rgb(255, 255, 255);
	border-color	: rgba(214, 214, 214, 0.88);
	box-shadow		: 0 6px 28px 0 rgba(0, 0, 0, .1);
	color			: #000000;
}
/* success */
#alertModal .modal-content.success .success-title {
	color			: green;
}
/* warning */
#alertModal .modal-content.warning .warning-title {
	color			: rgba(243, 156, 18, 0.88);
}
/* danger */
#alertModal .modal-content.danger .danger-title {
	color			: rgba(224, 24, 3, 0.88);
}
/* info */
#alertModal .modal-content.info .info-title {
	color			: rgba(4, 100, 164, 0.88);
}
#alertModal .alert-footer, #confirmModal .confirm-footer {
	padding-left	: 7px;
	padding-right	: 7px;
	padding-bottom	: 7px;
}
#alertModal .alert-footer .btn, #confirmModal .confirm-footer .btn {
	float			: right;
	font-size		: 12px;
}
#alert-icon {
	font-size		: 15px;
	bottom			: 5px;
	position		: relative;
	margin-right	: 5px;
}
.alert-close {
	float			: right;
	position		: absolute;
	right			: 13px;
	font-size		: 15px;
	top				: 13px;
	color			: #aaaaaa;
	cursor			: pointer;
}
.alert-close:hover {
	color			: #5e5e5e;
}
/* alert modal css END */

.admin_detail {
	cursor : pointer;
}

.login_content {
	padding : 0;
}

.detail-tr {
	cursor : pointer;
}

#insertThumbnail, #updateThumbnail {
	width : 50px;
}
.thumbnail-close {
	position	: absolute;
    margin		: 0px;
    margin-top	: -5px;
    margin-left	: 2px;
    color		: #f30000 !important;
    font-size	: 15px;
}
.thumbnail-close:hover {
	opacity		: 0.6;
}

.modal-body-overflow {
	overflow 	: auto;
}

.image-xs {
	border-radius 	: 10px;
	width			: 35px;
	height			: 35px;
}
.image-sm {
	border-radius 	: 10px;
	width			: 50px;
	height			: 50px;
}
.image-lg {
	border-radius 	: 10px;
	width			: 100px;
	height			: 100px;
}
.image-200 {
	border-radius 	: 10px;
	width			: 200px;
}
.image-100-per {
	border-radius 	: 10px;
	width			: 100%;
}
.tile-code-delete img {
	opacity			: 0.6;
}
.tile-code-close {
	position		: relative;
    color			: #f30000 !important;
    right			: 0px;
    bottom			: 110px;
    height			: 0px;
    display			: block;
}
.tile-code-close .fa-close {
	font-size 		: 65px;
}
.tile_code_image {
	margin-right	: 8px;
}
.code_detail_selected img {
	position		: relative;
	opacity			: 0.3 !important;
}
.code_detail_selected .img-check {
	position		: relative;
	bottom			: 100px;
	height			: 0;
}
.code_detail_selected .img-check .fa-check {
	font-size		: 60px;
	color			: #2d8448;
}

.modal-1200 {
	max-width 		: 1200px;
}

.table-border th, .table-border td {
	border-top 		: 1px solid #dee2e6 !important;
}

.table th.head-board {
	background		: rgba(52,73,94,0.94);
	color			: #fff;
}
.detail-td-img {
	cursor			: pointer;
}
.detail-td-img:hover {
	opacity			: 0.4;
}
.board-comment-textarea {
	width			: 100%;
	resize			: none;
	font-size		: 14px;
	border-radius	: 3px;
}
.comment-total-count {
	float			: left;
	padding-top		: 16px;
}
.comment-name-area {
    width			: 100%;
    float			: left;
}
.comment-name-area .comment-icon {
	float			: left;
    font-size		: 13px;
    padding-top		: 3px;
    padding-right	: 3px;
    color			: #585858;
}
.comment-name-area .comment-name {
	float			: left;
	font-weight		: bold;
}
.comment-name-area .comment-date {
	float			: left;
	color			: #a0a0a0;
	padding-left	: 15px;
}
.comment-name-area .comment-count {
	float			: left;
	padding-left	: 4px;
    color			: red;
    font-weight		: bold;
    cursor			: pointer;
}
.comment-name-area .comment-count:hover {
	opacity			: 0.4;
}
.comment-name-area .comment-button-area {
	float			: right;
    margin-bottom	: -8px;
}
.comment-name-area button, .comment-of-comment-button-area button {
	font-size		: 10px;
}
.comment-content {
	float			: left;
	width			: 100%;
	color			: #71717B;
	padding-left 	: 13px;
	padding-top		: 6px;
}
.comment-of-comment {
	width			: 100%;
	padding-left	: 13px;
	float			: left;
    margin-top		: 7px;
}
.comment-of-comment .fa-mail-reply, .comment-of-comment-text .fa-mail-reply {
	transform 		: rotate(-180deg);
	padding-left	: 3px;
}
.comment_of_comment_div {
    width			: 100%;
    margin-top		: 12px;
    float			: left;
    border			: 1px solid #ddd;
    padding			: 8px;
    border-radius	: 4px;
    margin-left		: 8px;
}
.comment_of_comment_div .comment-of-comment-text {
	float			: left;
}
.comment_of_comment_div .comment_of_comment_textarea {
	float			: right;
	width			: 100%;
	border-radius	: 3px;
}
#detailBoardCommentTable .comment_body {
	border-bottom	: 1px solid #dee2e6;
}