<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsbath.web.model.mapper.ConstructInstanceMapper">

<!--============== 시공사례 목록 START ==============-->
	<select id="select" parameterType="com.dsbath.web.model.dto.PagingDTO" resultMap="constructInstanceList">
		SELECT
			CI.ConstructInstanceIdx,
			CI.Title,
			CI.Content,
			CI.Thumbnail,
			CI.Hit,
			CI.CreateDate,
			CI.UpdateDate,
			
			A.AdminIdx,
			A.AdminName,
			A.AdminId
			
		  FROM ConstructInstance AS CI
		
		<!-- 공통 조건 -->  
		<include refid="selectOfWhere"></include>
		
		<!-- order by -->
		<choose>
			<when test='@com.dsbath.web.etc.util.StringUtil@isNotEmpty(sort) and @com.dsbath.web.etc.util.StringUtil@isNotEmpty(sortType)'>
				ORDER BY
				
				<choose>
					<when test='"title".equals(sortType)'>
						CI.Title
					</when>
					<when test='"adminName".equals(sortType)'>
						A.AdminName
					</when>
					<when test='"createDate".equals(sortType)'>
						CI.CreateDate
					</when>
					<when test='"updateDate".equals(sortType)'>
						CI.UpdateDate
					</when>
					<when test='"hit".equals(sortType)'>
						CI.Hit
					</when>
				</choose>
				
				<choose>
					<when test='"asc".equals(sort)'>
						ASC
					</when>
					<when test='"desc".equals(sort)'>
						DESC
					</when>
				</choose>
			</when>
			
			<otherwise>
				ORDER BY CI.CreateDate DESC
			</otherwise>
		</choose>
		
		<!-- paging -->
		LIMIT #{page}, #{limit}
	</select>
<!--============== 시공사례 목록 END ==============-->


<!--============== 시공사례 목록 Total Count START ==============-->
	<select id="selectOfTotalCount" parameterType="com.dsbath.web.model.dto.PagingDTO" resultType="long">
		SELECT
			COUNT(CI.ConstructInstanceIdx)
		  FROM ConstructInstance AS CI
		
		<!-- 공통 조건 -->  
		<include refid="selectOfWhere"></include>
	</select>
<!--============== 시공사례 목록 Total Count END ==============-->


<!--============== 시공사례 상세 START ==============-->
	<select id="detail" parameterType="constructInstance" resultMap="constructInstanceList">
		SELECT
			CI.ConstructInstanceIdx,
			CI.Title,
			CI.Content,
			CI.Thumbnail,
			CI.Hit,
			CI.CreateDate,
			CI.UpdateDate,
			
			A.AdminIdx,
			A.AdminName,
			A.AdminId
			
		  FROM ConstructInstance AS CI
		
		<!-- Admin join -->
		LEFT JOIN Admin AS A
		  ON A.AdminIdx = CI.AdminIdx
		  
		WHERE CI.ConstructInstanceIdx = #{constructInstanceIdx}
	</select>
<!--============== 시공사례 상세 END ==============-->


<!--============== 시공사례 등록 START ==============-->
	<insert id="insert" parameterType="constructInstance">
		INSERT INTO ConstructInstance
		(
			AdminIdx,
			Title,
			Content,
			Thumbnail,
			Hit
		)
		VALUES
		(
			#{adminIdx},
			#{title},
			#{content},
			#{thumbnail},
			0
		)
		
		<selectKey resultType="Integer" keyProperty="constructInstanceIdx" order="AFTER">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
	</insert>
<!--============== 시공사례 등록 END ==============-->


<!--============== 시공사례 수정 START ==============-->
	<update id="update" parameterType="constructInstance">
		UPDATE ConstructInstance
		   SET
		   
		   	<if test='@com.dsbath.web.etc.util.StringUtil@isNotEmpty(thumbnail)'>
			    Thumbnail 	= #{thumbnail},
		   	</if>
		   		Title 		= #{title},
		   		Content 	= #{content}
		 
		 WHERE ConstructInstanceIdx = #{constructInstanceIdx}
	</update>
<!--============== 시공사례 수정 END ==============-->


<!--============== 시공사례 삭제 START ==============-->
	<delete id="delete" parameterType="constructInstance">
		DELETE FROM ConstructInstance
		 WHERE ConstructInstanceIdx = #{constructInstanceIdx}
	</delete>
<!--============== 시공사례 삭제 END ==============-->


<!--============== 시공사례 목록 Result Map START ==============-->
	<resultMap type="constructInstance" id="constructInstanceList" autoMapping="true">
		<id property="constructInstanceIdx" column="ConstructInstanceIdx"/>
		
		<!-- 관리자 -->
		<collection ofType="admin" property="admin" autoMapping="true">
			<id property="adminIdx" column="AdminIdx"/>
		</collection>
	</resultMap>
<!--============== 시공사례 목록 Result Map END ==============-->


<!--============== 시공사례 목록 공통 조건 START ==============-->
	<sql id="selectOfWhere">
		
		<!-- Admin join -->
		LEFT JOIN Admin AS A
		  ON A.AdminIdx = CI.AdminIdx
		  
		<where>
			<if test='@com.dsbath.web.etc.util.StringUtil@isNotEmpty(model.title)'>
				<!-- 제목 -->
				AND CI.Title LIKE CONCAT ('%', TRIM(#{model.title}), '%')
			</if>
			
			<if test='@com.dsbath.web.etc.util.StringUtil@isNotEmpty(startDateStr) and @com.dsbath.web.etc.util.StringUtil@isNotEmpty(endDateStr)'>
		 		<!-- 등록일 -->
		 		AND DATE_FORMAT(CI.CreateDate, '%Y%m%d') BETWEEN #{startDateStr} AND #{endDateStr}
		 	</if>
		</where>
		
	</sql>
<!--============== 시공사례 목록 공통 조건 END ==============-->
</mapper>