<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsbath.web.model.mapper.MainMapper">

<!--============== 시공사례 목록 START ==============-->
	<select id="selectOfConstructInstance" parameterType="constructInstance" resultType="constructInstance">
		SELECT
			ConstructInstanceIdx,
			Title,
			Content,
			Thumbnail,
			Hit,
			CreateDate,
			UpdateDate
		 FROM ConstructInstance
		 
		ORDER BY CreateDate DESC
		
		LIMIT 10
	</select>
<!--============== 시공사례 목록 END ==============-->


<!--============== 공지사항 목록 START ==============-->
	<select id="selectOfNotice" resultType="notice">
		SELECT
			NoticeIdx,
			Title,
			Content,
			Hit,
			IsImport,
			IsPopup,
			IsComment,
			PopupStartDate,
			PopupEndDate,
			CreateDate,
			UpdateDate
			
		 FROM Notice
		 
		ORDER BY CreateDate DESC
		 
		LIMIT 8
	</select>
<!--============== 공지사항 목록 END ==============-->


<!--============== 시공후기 목록 START ==============-->
	<select id="selectOfConstructEpilogue" resultType="constructEpilogue">
		SELECT
			ConstructEpilogueIdx,
			Title,
			CreateDate
			
		  FROM ConstructEpilogue
		  
		 ORDER BY CreateDate DESC
		  
		 LIMIT 8
	</select>
<!--============== 시공후기 목록 END ==============-->


<!--============== 욕실디자인 목록 START ==============-->
	<select id="selectOfBathDesign" resultType="bathDesign">
		SELECT
			BathDesignIdx,
			Title,
			Thumbnail,
			CreateDate
			
		  FROM BathDesign
		 
		 ORDER BY CreateDate DESC
		 
		 LIMIT 50
	</select>
<!--============== 욕실디자인 목록 END ==============-->


</mapper>
