<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsbath.admin.model.mapper.MemberMapper">

	
<!--============== 사용자 목록 START ==============-->
	<select id="select" parameterType="com.dsbath.admin.model.dto.PagingDTO" resultType="member">
		SELECT
			MemberName,
			MemberId,
			Address,
			CreateDate,
			UpdateDate
			
		  FROM Member
		  
		<!-- order -->
		<if test='@com.dsbath.admin.etc.util.StringUtil@isNotEmpty(sort) and @com.dsbath.admin.etc.util.StringUtil@isNotEmpty(sortType)'>
		 	ORDER BY
			
			<choose>
				<when test='"memberName".equals(sortType)'>
					MemberName
				</when>
				<when test='"memberId".equals(sortType)'>
					MemberId
				</when>
				<when test='"address".equals(sortType)'>
					address
				</when>
				<when test='"createDate".equals(sortType)'>
					CreateDate
				</when>
			</choose>
			
			<choose>
				<when test='"asc".equals(sort)'>
					ASC
				</when>
				<when test='"desc".equals(sort)'>
					DESC
				</when>
			</choose>
	 	</if>
	 	
		<!-- paging -->
		LIMIT #{page}, #{limit}
	</select>
<!--============== 사용자 목록 END ==============-->


<!--============== 사용자 목록 Total Count START ==============-->
	<select id="selectOfTotalCount" parameterType="com.dsbath.admin.model.dto.PagingDTO" resultType="long">
		SELECT COUNT(MemberIdx)
		  FROM Member
	</select>
<!--============== 사용자 목록 Total Count END ==============-->


<!--============== 사용자 등록 START ==============-->
	<insert id="insert" parameterType="member">
		INSERT INTO Member
		(
			MemberName,
			MemberId,
			Password,
			Address,
			IsDelete
		)
		VALUES
		(
			#{memberName},
			#{memberId},
			#{password},
			#{address},
			'0'
		)
	</insert>
<!--============== 사용자 등록 END ==============-->


<!--============== 사용자 아이디 중복확인 START ==============-->
	<select id="memberIdChecked" parameterType="member" resultType="member">
		SELECT
			MemberId
		  FROM Member
		 WHERE MemberId = #{memberId}
	</select>
<!--============== 사용자 아이디 중복확인 END ==============-->

</mapper>